*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.inner {
    width: 70%;
    margin: 0 auto;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Futura', sans-serif;
	font-size: 16px;
	color: #2c2d35;
}

p{
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: 1em;
	font-family: 'Quicksand', sans-serif;
}

header {
    background-color: rgb(220, 220, 220);  
	width: 100vw;
}

header .inner {
    display: grid;
	grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    gap: 1em;
    height: 5em;
    align-items: center;
	width: 90%;
}
header nav ul{
	text-align: center;
	align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 2em;
}
header nav ul li a {
    color: #2c2d35;
    text-decoration: none;
    padding: 0.1em;
    text-transform: uppercase;
	font-size: 18px;

}
header nav ul li a:hover {
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
}

#recent_page{
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
}

#logo a img{
	display: flex;
	height: 4em;
	justify-content: flex-start;
}

#contact{
	display: flex;
	justify-content:flex-end;
}
#contact a{
	text-decoration: none;
	color: #2c2d35;
}
#contact a:hover{
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
}


main{
    justify-items: center;

}

.highlights{
   text-align: center;
}


.highlights img{
	max-height: 80vh;
	width: 80vw;
	object-fit:cover;
	border: 3em #fae282;
	border-style: solid;
	display: inline-flex;
}

h1{
    margin: .5em auto;
    text-align: center;
	align-items: center;
    font-size: 7em;
    font-weight: bold;
	position: relative;
	text-transform: uppercase;
	animation: slide-up 1s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
		opacity: 0;
    }
    100% {
        transform: translateY(0);
		opacity: 1;
    }
}


#CM{
	margin-bottom: -0.6em;
}

h2{
	margin: 2em 1em 1em;
	/* margin-top: 2em;
	margin-bottom: 1em; */
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
}

h3{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
}

.line{
	border-top: 5px solid;
	position: relative;
	width: 20em;
	border-radius: 50px;
	padding: 0;
	margin: -2em auto 3em ;
}

.welcome p{
	text-align: justify;
	width: 50%;
	margin: 0 auto;
}


.partners h2{
	text-align: center;
}

.partners div{
    display: grid;
	width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    column-gap: 2em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.partners div img{
	width: 12em;
	justify-content: center;
	object-fit: cover;
}

.container {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.scroll-parent {
position: relative;
height: 10em;
overflow-x: hidden;
}
  
.scroll-element {
width: inherit;
height: inherit;
position: absolute;
left: 0%;
top: 0%;
display: flex;
align-items: center;
justify-content: space-around;
}

.primary {
animation: primary 20s linear infinite;
}

.secondary {
animation: secondary 20s linear infinite;
}

@keyframes primary {
from {
	left: 0%;
}
to {
	left: -100%;
}
}

@keyframes secondary {
from {
	left: 100%;
}
to {
	left: 0%;
}
}

.about{
    position: relative;
	text-align: center;
    margin: 4em auto ;
	padding: 1em;
	/* width: 75%; */
	background-color: #eda385;
}

.motto p{
	font-size: 3.7em;
	font-family: 'Futura', sans-serif;
	color: #fff;
	margin: auto;
	text-align: left;
    font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5em;
	font-style: italic;
	/* text-shadow: 2px 2px 4px #000000; */

}

.motto button{
	margin: 1em 0;
	display: flex;
	font-size: 1em;
	justify-content: center;
	padding: 1em 3em;
	border-radius: 25px;
	border-style: none;
	text-decoration: none;
	position: relative;
	font-family: 'Quicksand', sans-serif;
}

.motto button:hover{
	box-shadow: 0 0 4px #fff;


}

.a_container{
	display: grid;
    position: relative;
	grid-template-columns: 1fr 3fr;
	text-align: center;
	column-gap: 1em;
	margin: auto;
	padding: 2em;
}

.i_container{
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: end;
}



#a_title{
	color: #fff;
	font-family: 'Futura', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	margin-top: 1em;
}

#a_img{
	border-radius: 50%;
	width: 25em;
	object-fit: contain;
}


/* @media (max-width: 1279px) {

	.media{
		grid-template-rows: 20em 20em;  
		row-gap: 4em;
	}
	.media img, iframe{
		width: 34em;
		height: 17em;
	}

	.events div{
		width: 80%;
	}
	.events img{
		height: 14em;
	}
}

@media (min-width: 1280px) {
	
	.media{
		grid-template-columns: 1fr 1fr;  
		column-gap: 4em;
	}
	.media img, iframe{
		width: 30em;
		height:20em;
		object-fit: cover;
	}

	.events div{
		width: 60%;
	}
	.events img{
		height: 17em;
	}
} */





.events div{
	display:flex;
	width: 800px;
	height: 17em;
    margin: 2em auto;	
	background-color: #6f88c3;
	text-align: center;
	position: relative;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.events h3 {
	position:relative;
	margin: 1em;
	color: white;
	text-align: left;
}

.events img {
	text-align: center;
	position: relative;
	object-fit: cover;
	height: 17em;
	width: 45vw;

}

.events button, .latest button{
	margin: 0 auto;
	display: flex;
	font-size: 1em;
	justify-content: center;
	padding: 1em 3em;
	border-radius: 25px;
	border-style: none;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none;
	color: #2c2d35;
}

.events button:hover, .latest button:hover{
	box-shadow: 0 0 4px rgb(220, 220, 220);
}

.media{
	display: flex;
	flex-wrap: wrap;
    width: 70%;
    margin: 0 auto 2em;	
	gap: 2em;
	text-align: center;
	justify-content: center;
	position: relative;
	/* grid-template-columns: 1fr 1fr;   */
	column-gap: 4em;
}

.media img, iframe{
	width: 30em;
	height: 20em;
	object-fit: cover;
}

.media div {
    background-color: #f36f75;
    /* min-height: 18em; */
    align-items: center;
    justify-content: center; 
}

.media h3 {
    color: #fff;
    text-align: center;
	position: relative;
	padding: 1em;
}

.contact {
	position: relative;
	height: 30em;
	display:grid;
	text-align: center;
	margin: 10em auto;
}

.contact img{
	width: 100%;
	height: 32em;
	position: absolute;
	z-index: -1;
	text-align: center;
	/* margin: 0 10% 0; */
	opacity: 60%;
	object-fit: cover;
	/* filter: blur(2px); */

}

.contact h2{
	position: relative;
	margin: 2.5em auto;
	justify-content: center;
	text-align: center;
	color: #25242C;
	/* background-color: #6f88c3; */
	/* text-shadow: 2px 2px 4px #000; */

}

.contact a{
	position: relative;
	text-align: center;
	margin: 4em auto;
	transform: translate(0,-250%);
	justify-content: center;
	padding: 1.5em 5em;
	background-color: #fae282;
	border-radius: 50%;
	font-family: 'Quicksand', sans-serif;
}

.contact a:hover{
	box-shadow: 0 0 50px #fff;

}






footer{
	background-color: rgb(220, 220, 220);
	/* display: inline-block; */
	width: 100vw;
}

footer h1{
	display: block;
	text-align: center;
	font-size: 7em;
	margin-bottom: 0;
	/* padding-bottom: 1em; */
}

.bottom{
	position: relative;
	padding-bottom: 2em;
}

footer p{
	/* margin-bottom:0; */
	display:inline-flex;
	float: left;
	align-items: flex-end;
	align-content: flex-end;
	margin: -1em 3em;
}

.container{
	display: grid;
	grid-template-columns: 10fr 1fr 1fr;
	padding: 3em;
	align-items: start;
}

/* .container div{
	margin-top: 0;
	align-content: ;
} */

.SIT{
	margin: 0;
}

.SIT h3{
	font-size: 4em;
	margin-bottom: .5em;
}

.SIT input{
	padding: 1em;
	border-radius: 25px;
	margin-right: 1em;
	border-style: solid;
	border-color: #25242C;
}

#email{
	width: 25em;
}

#submit{
	width: 8em;
}

.menu, .links{
	font-size: 1.2em;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;

}

.menu nav ul li, .links nav ul li {
	margin: 1.2em;
	text-transform: uppercase;
	list-style-type: none;
	text-decoration:none;
}

.fa-brands{
	font-size: 2em;
}


#about_CM{
	background-color: #25242C;
}

.hero_container{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 2fr; */
	column-gap: 5em;
	row-gap: 5em;
	margin: 4em auto;
	padding: 4em 0;
	justify-content: center;
	align-items: center;
}

.hero_container div{
	align-self: center;
	width: 45%;
	justify-content: center;
	display: grid;
}

.hero_container img{
	width: 45%;
	height: 45%;
	display: flex;
}

#about_CM h1{
	margin: 0;
	margin-bottom: .5em;
	color: #fff;
	font-size: 3.82em;
}

#about_CM p{
	font-size: 1.3em;
	color: #fff;
	text-align: justify;
}

#about_CM img{
	/* max-height: 27em; */
	align-items: center;
	align-content: center;
	object-fit: fill;
	/* margin: auto 0; */
	width: 30vw;
}

#about_us .line, #our_partners .line{
	border-color: #eda385;
}

#about_us section{
	display: flex;
	width: 90%;
	margin: 0 auto;
	/* grid-template-columns: 1fr 1fr;   */
	flex-wrap: wrap;
	margin-top: 2em;
	justify-content: center;
}
#about_us div{
	width: 40em;

}

#about_us img{
	height: 30em;
	width: 30em;
	border-radius: 50%;
	border-color: #eda385;
	border-width: 1em;
	border-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 5em;
}

#about_us h3{
	font-family: Futura, sans serif;
	text-transform: uppercase;
}

#about_us p{
	text-align: justify;
}

#our_partners h2{
	margin-top: 5em;
}

#our_partners .p_container{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns:1fr 1fr 1fr;   */
	column-gap: 2em;
    row-gap: 2em;
	/* margin-top: 5em; */
	width: 80%;
	margin: 0 auto;
	justify-content: center;
}

#our_partners section{
	display: grid;
	position: relative;
	grid-template-rows: 3em 6em auto;
	row-gap: 2em;
	text-align: center;
	/* align-items: center; */
	/* justify-content: center; */
	width: 23em;
	margin: 0 auto;
	border-color: #eda385;
	border-width: 0.5em;
	border-style: solid;
	padding: 1em;
}

.p_container section div img{
	/* width: 20em;	 */
	height: 4em;
	justify-content: center;
	margin: auto;
	align-items: center;
	object-fit: cover;
}

.p_container section div p{
	margin-top: 0;
	justify-content: start;
}


#our_partners h3{
	text-align: center;

}


.b_title{
	background-color: #fae282;
}

.intro{
	width: 42%;
	margin: 6em auto;
	font-size: 1.4em;
	text-indent: 50px;
	text-align: justify;
	/* text-align: center; */
}

.buildings{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
    row-gap: 2em;
	column-gap: 1.5em;
	margin: 10em auto;
	width: 90%;
}

.buildings h3{
	text-align: center;
	font-family: Futura;
	height: 3em;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 2em 0;
	font-size: 1.3em;
} 

.buildings p{
	padding: 1em ;
	margin-top: 0;
	text-align:start;
	/* background-color: #25242C; */

}
#at_risk{
	box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.3), 0 6px 20px 0 rgba(255, 0, 0, 0.3);
}

.buildings div{
	background-color: #fae282;
    min-height: 10em;
	width: 25em;	
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.buildings div img{
	/* max-height: 15em; */
	height: 15em;
	width: 25em;
	/* padding: 1em; */
	margin: 0 auto;
	object-fit: cover;
}

#event_hero div{
	text-align: center;
}

#event_hero img {
	max-height: 80vh;
	width: 80vw;
	text-align: center;
	align-items: center;
	margin-bottom: 7em;
	border: 3em #6f88c3;
	border-style: solid; 
	object-fit: cover;
}


#m_title{
	background-color: #f36f75;
}




#video .line, #blog .line, #link .line{
	border-color: #f36f75;
}

#video button, #blog button{
	margin: 0 auto;
	display: flex;
	font-size: 1em;
	justify-content: center;
	padding: 1em 3em;
	border-radius: 25px;
	border-style: none;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

#video button:hover, #blog button:hover{
	box-shadow: 0 0 4px rgb(220, 220, 220);
}

#video h3, #blog h3{
	font-size: 1.3em;
	margin-top: 1em;
}

.v_container{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr 1fr; */
	column-gap: 2em;
	width: 80%;
	margin: 0 auto;
}



#video section{
	margin: 2em auto;
}

#video section iframe{
	display: block;
	width: 22em;
	height: 13em;
	/* height: 14.5em; */
}

.b_container{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr; */
	column-gap: 2em;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}

#blog section{
	margin: 2em auto;
	justify-content: center;
	display: grid;
	justify-items: center;

}

#blog section img{
	width: 30em;
	height: 16em;

}

#link div{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	column-gap: 2em;
	text-align: center;
}

#link section{
	margin: 2em auto;
	width: 20em;
}

#e_recent{
	/* width: 90%; */
	margin: 0 auto;
}

.recent{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr 1fr; */
	column-gap: 2em;
	row-gap: 2em;
	/* overflow-x: hidden;
	overflow-y: auto;
	height: 90vh; */
	background-color: #6f88c3;
	border:#6f88c3 ;
	border-width: 2em;
	border-style: solid;
	margin: 0 auto;
	max-width: 80%;
	justify-content: center;
}

.recent div{
	display: grid;
	width: 20em;
	grid-template-rows: 10em 8em auto 3em;
	row-gap: 1.5em;
	background-color: #fff;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: center;
	justify-items: center;
}

.recent img{
	height: 10em;
	width: 19em;
	justify-content: center;
	align-content: center;
	align-self: center;
	display: flex;
	text-align: center;
	object-fit: cover;
}

.recent h3{
	font-size: 1.2em;
	font-weight: 700;
	font-family: 'Futura';
}

.recent h4, .recent h5{
	font-size: 1.1em;
	font-family: 'Quicksand';
	/* font-weight: 300; */
	margin-top: .5em;
}

.recent h5{
	font-style: italic;
	font-weight: 400;
}

.recent p{
	align-items: start;
	margin: 0 auto;
	font-size: 1em;
	text-align: justify;
}

.recent button{
	padding: 1em;
	background-color: #6f88c3;
	width: 10em;
}

#e_container{
	display: grid;
	grid-template-columns: 1fr 4fr;
	column-gap: 2em;
	row-gap: 2em;
	width: 90%;
	margin: 5em auto;
}

#e_container h2{
	margin: 0 auto;
}

.e_element{
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: 1fr 1fr 1fr; */
	column-gap: 1em;
	row-gap: 1em;
	/* overflow-x: hidden;
	overflow-y: auto;
	height: 90vh; */
	background-color: #6f88c3;
	border:#6f88c3 ;
	border-width: 2em;
	border-style: solid;
	justify-content: center;
	justify-items: center;
}

.e_element div{
	display: grid;
	grid-template-rows: 12em auto auto 1em;
	row-gap: 1em;
	width: 19em;
	background-color: #fff;
	padding: .5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.e_element img{
	height:12em;
	width: 18em;
	align-content: center;
	align-self: center;
	display: flex;
	text-align: center;
	object-fit: contain;
}

.e_element h3{
	font-size: 1.2em;
	font-family: Futura;
	font-weight: 700;
}

.e_element h4{
	font-size: 1.1em;
	font-family: 'Quicksand';
	/* font-weight: 300; */
	margin-top: .5em;
}

.e_element p{
	margin: 0 auto;
}

.divider{
	background-color: #6f88c3;
}

/* #more {display: none;} */



.contact_box{
	align-items: center;
	border-radius: 50px;
	margin: 0 auto 6em;
	display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form .line{
	border-color: #25242C;
	margin-top: -3em;
}

.form form{
	position: relative;
	width: 40em;
	margin: 0 auto;
}

.form form div{
	margin: 1.5em auto;
}

.form form label{
	/* position: absolute; */
	left: 0;
	/* top: 50%; */
}

.form form input, .form form textarea{
	width: 100%;
	height: 3em;
	padding: 10px;
	border-style: none none solid;
	/* background-color: rgb(220, 220, 220); */
	color:rgb(42, 41, 41);
	/* font-size: 15px;
	margin-top: 10px;
	border-radius: 10px; */
}

.form  form textarea{
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	height: 10em;
	margin-top: 1em;
}

.form form .btn{
	display: inline-block;
	background-color: #2c2d35;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid transparent;
	border-radius: 10px;
	width: 200px;
	transition: ease .20s;
	cursor: pointer;
}

.form form .btn:hover{
	border: 2px solid #2c2d35;
	background: rgb(220, 220, 220);
	color: #2c2d35;
}
